@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
label {
    display: block;
    width: 100%;
}

.navbar-item--active {
    position: relative;

    @apply text-blue-500;
}

.navbar-item--active::before {
    content: "";

    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    @apply bg-gray-100;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    flex-basis: calc((100% / 3) - 6px);
    margin: 3px;
}

.image-container::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
